/*-----------FEATURE AREA-----------*/
table td.feature{
  margin-top: .3em;
  font-size: .8em;
  line-height: 1.1;
  vertical-align: middle;
}
table td.feature h2{
  margin-top:0;
  font-size:1.6em;
  line-height:1;
}