/*-----------------COLOR CLASSES-----------------*/
.purple {
	background-color: #6E3077; /*Dk Purple*/
	background-image: none;
}
.orchid{
	background-color: #A079A3; /*Orchid*/
	background-image: none;
}
.lavender, .blush {
	background-color:lavenderblush;
	background-image: none;
}
.rose {
	background-color:mistyrose;
	background-image: none;
}
.green{
    background-color:#D4E09A; /*Green*/
}
.cream {
	background-image:none;
	background-color:snow;
}
body.woocommerce .white,
.white {
	background-image:none;
	background-color:white;
}
/*------------------------HEADER------------------------*/
/*----------User Menu----------*/
#user-nav{
    text-align:right;
}
/*----------Responsive Menu Icon----------*/
button.ddl-navbar-toggle{
  float: left;
}
nav > .ddl-navbar-collapse{
  margin: 0 !important;
  padding: 0 !important;
}
#main-nav-menu > nav > button.ddl-navbar-toggle{
    border:none;
    border-radius: 0;
    background-color:#6E3077; /*Dk Purple*/
    margin:4px;
}
#main-nav-menu > nav > button.ddl-navbar-toggle span.ddl-icon-bar{
    background-color: white;
}
/*----------Main Menu----------*/
nav.ddl-navbar{
  min-height: 38px;
}
#main-nav{
    margin: 0 0 1em;
    padding: 0;
    float: left;
    width: 100%;
    border-top:none;
    border-bottom:5px solid mistyrose;
    border-left:none;
    border-right:none;
}
#main-nav-menu nav{
    float:left;
    padding:0;
    margin:0;
}
#main-nav-menu li > a{
    padding:.6em 1em;
}
#main-nav-menu .ddl-nav > li > a:hover,#main-nav-menu .ddl-nav > li > a:focus, #main-nav-menu .ddl-dropdown-menu > li > a:hover, #main-nav-menu   .ddl-dropdown-menu > li > a:focus {
    background-color:#A079A3; /*Orchid*/
    color: white;
}
.open > .ddl-dropdown-menu > li ul.ddl-dropdown-menu {
    top: 0 !important;
    margin-top: 0;
}
.ddl-dropdown-menu{
    border-radius: 0;
}
/*----------Search Bar----------*/
.custom-search > form{
    float:right;
    margin:.4em;
    width:100%;
}
.custom-search label{
    margin:0 -39px 0 0;
    width: 100%;
}
.custom-search input.search-submit{
    border:none;
    color:white;
    background-color:#6E3077; /*Dk Purple*/
    height: 30px;
    width: 34px;
    vertical-align: bottom;
}
.custom-search input.search-field{
    border:none;
    background-color:snow;
    padding:.25em 1em;
    font-size:.85em;
    height: 30px;
    font-weight:normal;
    width:100%;
}
/*--------Yoast Breadcrumbs--------*/
#breadcrumbs-row{
    margin-bottom: 10px;
}
div#breadcrumbs {
	padding: 10px 20px 0;
	margin: 0px 0 -20px 0;
	font-size: .7em;
}
/*----------Sub Menu----------*/
.sub-menu.row{
    border-bottom:1px solid #6E3077; /*Dk Purple*/
    padding:0 !important;
    margin:0 5px !important;
}
.sub-menu h5{
    display: inline;
}
.sub-menu a{
    background-color:lavenderblush;
    padding:5px 10px;
    margin:10px 10px 4px 0;
    display: inline-block;
    font-size:14px;
}
.sub-menu a:hover{
    background-color:#A079A3; /*Orchid*/
    color:white;
}
/*---------------------MAIN CONTENT AREAS---------------------*/
.table.archive{
    margin-bottom:2em;
}
/*----------Comments----------*/
ul.commentlist{
    list-style: none;
    padding: 0;
}
li.comment.even{
    background-color:lavenderblush;
    padding: 10px;
    margin-bottom: 20px;
}
ul.commentlist ul.children{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
ul.commentlist ul.children li.comment{
    background-color: white;
    padding: 10px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce .cred-form input[type="button"], .woocommerce .cred-form input[type="submit"]{
    background-color:#D4E09A; /*Green*/
    color:white;
    width:100%;
    margin-bottom:5px;
    padding: .618em 1em;
    text-align: center;
    font-size: 100%;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce .cred-form input[type="button"]:hover, .woocommerce .cred-form input[type="submit"]:hover{
    background-color:#D4E09A; /*Green*/
    color:lavenderblush;
}
.woocommerce a.button.ghost, .woocommerce button.button.ghost, .woocommerce input.button.ghost{
    background-color:white;
    color:lightgray;
    font-size: .8em;
    padding:2px;
}
.woocommerce a.button.ghost:hover, .woocommerce button.button.ghost:hover, .woocommerce input.button.ghost:hover{
    background-color:lightgray;
    color:white;
}


/*-------------------CONTENT HELPERS-------------------*/
.table.no-table td{
    border:none!important;
}
.callout{
	width:80%;
	padding:.7em 1.3em;
	margin:0 auto 1.5em;
	background-color:lavenderblush;
	font-family:"Leckerli One", Trebuchet, serif;
	font-weight:600;
	font-size:1.4em;
	line-height:1.2em;
}
.callout .tweetThis{
	border-top: 1px solid white;
}
.callout .tweetThis,
.callout .tweetThis a{
	text-align:right;
	text-transform: uppercase;
	font-size: .8em;
	padding: .2em 0 0;
}
.callout .tweetThis a{
	font-family: "Forum", Trebuchet, sans-serif;
}
body.woocommerce .callout a{
	color:#6E3077; /*Dk Purple*/
}
body.woocommerce .callout a:hover{
	color:white;
}
.storytime {
	padding:15px;
	background-color:whitesmoke;
	color:#6E3077; /*Dk Purple*/
	font-size:.95em;
    margin:15px;
}
.affiliate .fa-certificate:before{
    color:darkgoldenrod;
}
.affiliate .fa-paw:before{
    color:white;
}
.rule-above{
  border-top:1px solid gray !important;
  margin-top: 30px !important;
  padding-top: 20px !important;
}
.rule-below{
  border-bottom:1px solid gray !important;
  margin-bottom: 25px !important;
  padding-bottom: 15px !important;
}
.rule-below.rule-icon{
  border-bottom:1px solid gray !important;
  margin-bottom: 30px !important;
  padding-bottom: 10px !important;
}
.rule-below.rule-icon i{
    background-color:white;
    position:absolute;
}
.rule-behind{
	text-align:center;
  	border-bottom:solid 1px #D4E09A; /*Green*/
  	height:0.7em;
    margin:25px 0;
}
.rule-behind:first-line {
    background-color: white;
}
.rule-behind:before,
.rule-behind:after{
  	content:'';
    padding: 0 6px;
}

.data-card{
	margin-bottom:15px;
    border:12px solid lavenderblush;
    padding:15px;
}
.data-card .row{
	margin-left:5px;
    margin-right:5px;
}
.blog .data-card-feat-img, .archive .data-card-feat-img{
    margin-bottom:15px;
}
.affiliate{
    background-color:lavenderblush;
}
.data-card-feat-img .row{
    margin-bottom: 10px;
    border: 5px solid lavenderblush;
    padding: 5px;
    width: 100%;
    margin: 0;
}
.data-card-feat-img .row > div{
	display:table-cell;
    vertical-align: top;
    float:none;
}
.data-card-feat-img .row .feat-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 200px;
    min-height:200px;
}
.data-card-feat-img h1{
    font-size:2.3em;
}
.data-card h2,.data-card h3, .data-card h4{
    margin-top:0;
    margin-bottom:.5em;
}
.pager-container{
    background-color:lavenderblush;
    padding:10px 15px;
}
.shop .pager-container{
    padding: 3px 10px 2px;
    margin: 0 0 10px;
    font-size:12px;
    text-align:right;
}
.wpv_pagination_links{
    display:inline-block;
}
.shop .pager-container a{
    margin-left:10px;
}
div.pager-container > a:nth-child(2){
    float:right;
}
.shop .pager-container ul{
    margin: 0;
}
.shop .pager-container li{
    display: inline;
    margin: 0 0 0 5px;
}
.carousel-container .pager-container{
    background:none;
    padding: 3px 10px 2px;
    margin: 0 0 10px;
    text-align:right;
}


/*--------------------SIDEBAR---------------------*/
.custom-sidebar .row{
    margin:0 0 0 10px;
}
.custom-sidebar .custom-widget{
    background-color:snow;
    margin:0 0 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.custom-widget h1, .custom-widget h2, .custom-widget h3, .custom-widget h4, .custom-widget h5{
    border-bottom: 1px solid #A079A3; /*Orchid*/
    margin:.5em 0 .25em;
}


/*----------------------FOOTER------------------------*/
#pre-footer-menu{
    border-top:5px solid #A079A3; /*Orchid*/
    border-bottom:2px solid #A079A3; /*Orchid*/
    border-left:none;
    border-right:none;
    margin: 30px 0 10px;
    padding: 10px 0 20px;
}

#footer-menu > li{
  display:inline;
}


/*---------------GRAVITY FORMS INTO BOOTSTRAP!---------------*/
body .gform_wrapper .gform_validation_container {
    display: none;
}
.gform_hidden {
    visibility: hidden;
    display: none;
}
body .gform_wrapper ul li.gfield{
    clear: inherit;
}
/*---general---*/
body .gform_wrapper {
	max-width:100%;
    background-color:lavenderblush;
    padding:40px;
    margin:0 60px;
}
body .gform_wrapper ul.gform_fields{
    margin:1.5em 0;
    padding:0;
}
body .gform_wrapper ul.gform_fields:first-of-type{
    margin-top:0;
}
body .gform_wrapper form li{
    padding-left:0!important;
    padding-right:0!important;
}
/*---section titles---*/
body .gform_wrapper h2.gsection_title{
    font-size:1.5em;
    margin:.5em 0 .1em;
}
body .gform_wrapper h2.gsection_title:first-of-type{
    margin-top:0;
}
body .gform_wrapper .gfield.gsection{
    border-bottom: 1px solid white;
    margin: 1.5em 0 .5em;
    padding:0;
}
body .gform_wrapper .gfield.gsection:first-of-type{
    margin: 0 0 .5em;
}
body .gform_wrapper ul li.gfield{
    margin-bottom: .5em;
}
.gform_wrapper ul, form ul{
    list-style:none;
}
body .gform_wrapper .gfield_date_day label, body .gform_wrapper .gfield_date_month label, body .gform_wrapper .gfield_date_year label, body .gform_wrapper .gfield_time_ampm label, body .gform_wrapper .gfield_time_hour label, body .gform_wrapper .gfield_time_minute label, body .gform_wrapper .ginput_complex label, body .gform_wrapper .instruction{
    font-size:.75em;
    margin: 2px 0 0;
}
body .gform_wrapper ul.gfield_checkbox,
body .wpv-filter-form ul.categorychecklist,
body .wpv-filter-form ul.categorychecklist ul.children{
    padding:5px 0;
    font-size: 13px;
}
body .wpv-filter-form ul.categorychecklist ul.children{
    padding:0;
    margin:0 8px;
}
body .wpv-filter-form ul.categorychecklist ul.children label{
    font-weight:normal;
}
body .gform_wrapper ul.gfield_checkbox li,
body .wpv-filter-form ul.categorychecklist li{
    padding:0;
    margin:2px 0;
}
body .gform_wrapper ul.gfield_checkbox label,
body .wpv-filter-form ul.categorychecklist label,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
    display:initial;
    margin: 0 0 0 5px;
}
body input[type=number]{
    height: 24px;
    font-size: 15px;
}
body .gform_wrapper div.ginput_container > input,
body .gform_wrapper div.ginput_container > select {
    width:100%;
}
body .gform_wrapper .top_label label.gfield_label{
	margin-bottom:0;
}
body .gform_wrapper .top_label div.ginput_container,
body .gform_wrapper label.gfield_label+div.ginput_container{
    margin-top:0!important;
}
/*---text fields---*/
body .gform_wrapper .col-sm-6 div.ginput_container,
body .gform_wrapper .col-sm-8 div.ginput_container{
    margin-right: 20px!important;
}
body .gform_wrapper .gform_body input[type="text"] {
	margin-bottom: 0;
    font-size:12px;
}
body .gform_wrapper textarea.textarea {
	width:100%;
}
/*---upload area---*/
body .gform_wrapper .gform_drop_area{
    position: relative;
    border: 2px dashed white;
    padding: 30px;
    text-align: center;
    color:white;
}
/*---submit button---*/
body .gform_wrapper .gform_footer{
    padding:0;
}
body .gform_wrapper input[type=submit],
body .gform_wrapper input[type=button]{
    background-color: #6E3077; /*Dk Purple*/
}


/*----------------------------PRODUCT PAGES----------------------------*/

/*******-----------GALLERY------------*******/
.seemore{
	text-align:right;
}	
.seemore a{
	color: #6E3077; /*Dk Purple*/
  	font-size: 1.5em;
}
#gallery .item img {
  max-height: 520px;
  width: auto;
  margin: 0 auto;
}
#gallery .owl-controls .owl-nav div{
	position:absolute;
  	top: 50%;
	margin:-40px -25px;
  	height: 80px;
	font-size: 80px;
  	color: #6E3077; /*Dk Purple*/
  	background:transparent;
}
#gallery .owl-controls .owl-prev{
	left:0;
	border-radius: 0;
}
#gallery .owl-controls .owl-next{
	right:0;
	border-radius: 0;
}
@media screen and (max-width: 400px) {
	#gallery .owl-controls .owl-nav div{
		margin: -30px -20px;
		height: 60px;
		font-size: 60px; 
    }
}




/*******-----------ADD TO CART-------------*******/
#add_to_cart_box {
  padding:25px;
  font-size:1em;
}
#add_to_cart_box h1 {
	font-size:1.5em;
}


/*****------------PRICE AT TOP------------*****/
#add_to_cart_box p {
	margin:0 0 10px;
}
#add_to_cart_box p.price::before {
	content: 'List Price: ';
}
#add_to_cart_box .price{
  color:#6E3077; /*Dk Purple*/
  font-weight:bold;
  margin-top: 0.4em;
  font-size: 1.1em;
  font-family: Trebuchet MS, Verdana, Helvetica, sans serif;
  letter-spacing: -.04em;
}
#add_to_cart_box .price ins{
  text-decoration: none;
  font-size:1.4em;
}
#add_to_cart_box .price del{
  color:darkgray;
  font-weight:500;
}


/*****------------VARIATIONS DROP DOWNS------------*****/
#add_to_cart_box table{
	width: 100%;
}
#add_to_cart_box div.single_variation{
	  margin-top: 7px;
}
#add_to_cart_box td.label {
  color: #000;
  background-color: transparent;
  text-shadow: none;
}
#add_to_cart_box td.label label{
  font-weight: bold;
  font-size: 1.5em;
}
#add_to_cart_box select{
	padding-bottom:0;
  	height:1.5em;
  	line-height:1;
	font-size: .9em;
}
#add_to_cart_box .variations select{
  	width: 100%;
}

#add_to_cart_box a.reset_variations{
  	display: block;
  	text-align: right;
}




/*****----------VARIATIONS DROP DOWNS----------*****/
#add_to_cart_box table{
	width: 100%;
}
#add_to_cart_box div.single_variation{
	  margin-top: 7px;
}
#add_to_cart_box td.label {
  color:black;
  background-color: transparent;
  text-shadow: none;
}
#add_to_cart_box td.label label{
  font-weight: bold;
  font-size: 1.5em;
}
#add_to_cart_box select{
  	width: 100%;
}
#add_to_cart_box a.reset_variations{
  	display: block;
  	text-align: right;
}

/*****QUANTITY*****/
#add_to_cart_box .quantity::before {
  content: 'How Many? ';
  font-weight: bold;
  font-size: 1em;
}
#add_to_cart_box div.quantity {
	margin:.8em 0;
}
#add_to_cart_box input[type="number"]{
	padding: 1px 3px;
    height: 1.4em;
    line-height: 1;
    font-size: 1em;
  	margin-bottom:0;
}


/*****----------GRAVITY FORMS STYLING----------*****/
body form.cart .gform_wrapper {
	max-width:100%;
    background-color:transparent;
    padding:0;
    margin:0;
}
#add_to_cart_box .gform_wrapper .ginput_complex label,
#add_to_cart_box .gform_wrapper .gfield_time_hour label,
#add_to_cart_box .gform_wrapper .gfield_time_minute label,
#add_to_cart_box .gform_wrapper .gfield_time_ampm label,
#add_to_cart_box .gform_wrapper .gfield_date_month label,
#add_to_cart_box .gform_wrapper .gfield_date_day label,
#add_to_cart_box .gform_wrapper .gfield_date_year label,
#add_to_cart_box .gform_wrapper .instruction {
	font-size: 0.7em;
    white-space: initial;
}
#add_to_cart_box .gform_wrapper label.gfield_label + div.ginput_container,
#add_to_cart_box .gform_wrapper ul.gfield_radio li, 
#add_to_cart_box .gform_wrapper ul.gfield_checkbox li{
	margin-top:0; 
}
/***Gravity Next and Previous***/
#add_to_cart_box .gform_wrapper input.gform_next_button{
  float: right;
}
#add_to_cart_box .gform_wrapper input.gform_next_button,
#add_to_cart_box .gform_wrapper input.gform_previous_button{
  background-color: white;
  border: 3px solid #6E3077; /*Dk Purple*/
  margin-bottom: 1em;
  padding: .5em;
  color: #6E3077; /*Dk Purple*/
}
#add_to_cart_box .gform_wrapper .gform_page_footer {
  padding:1em 0;
  width: 100%;
  border-top: 1px solid lightgray;
  margin:0;
  clear: both;
}
/***Gravity Total***/
#add_to_cart_box .product_totals .gfield_label{
    text-align:center;
    width:100%;
	border-bottom:1px solid #6E3077; /*Dk Purple*/
}
#add_to_cart_box .product_totals .ginput_container{
    text-align:center;
}
.woocommerce #reviews {
	padding: 20px;
}


/*****PRICE AT BOTTOM*****/
#add_to_cart_box .single_variation .price::before{
  content: 'Price Per: ';
}
#add_to_cart_box .single_variation .price{
  font-size: 1em;
}
#add_to_cart_box span.ginput_total,
#add_to_cart_box .single_variation > .amount{
  color: #481948; /*Dk Purple*/
  font-size: 1.4em;
  font-weight: 700;
}

/*****SUBMIT!*****/
#add_to_cart_box #respond input#submit.alt, 
#add_to_cart_box a.button.alt, 
#add_to_cart_box button.button.alt, 
#add_to_cart_box input.button.alt {
  	width: 100%;
}
#add_to_cart_box form.variations_form{
  margin-bottom:0;
}
/*****ITEM DESC*****/
.itemDesc{
	width:90%;
  	margin:0 auto;
}
.itemDesc h3{
	margin: .25em 0;
}
h3.pinterest{
	z-index: 1000;
	position: relative;
}
/*****PINTEREST*****/
.pinspire > span {
	width: 100% !important;
  	max-width:676px !important;
	overflow: scroll !important;
}
/*****CART*****/
.woocommerce table.cart #respond input#submit, .woocommerce table.cart a.button, .woocommerce table.cart button.button, .woocommerce table.cart input.button,
.woocommerce .cred-form input[type="button"]{
    width:initial;
}
.woocommerce .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce .woocommerce-cart .cart-collaterals .cart_totals tr th{
    padding:0 5px;
}
/*--------------------------END PRODUCT PAGES--------------------------*/

/*------------BUILDERS+PARAMETRIC SEARCHES INTO BOOTSTRAP!------------*/
.wpv-filter-form{
    padding:5px 0;
}
.filter-container {
    background-color:lavenderblush;
    padding: 15px;
  	margin-bottom: 20px;
}
.filter-container hr{
	clear:both;
}
.filter-bootstrap{
    font-weight: bold;
    color:#6E3077; /*Dk Purple*/
}
.filter-bootstrap input,
.filter-bootstrap select{
    width:100%;
    color:black;
}
.filter-bootstrap select{
    margin: 3px;
}
.filter-bootstrap input[type=submit]{
    margin:1em 0 0;
}
.shop form h3{
    font-size: 1.5em;
}
.shop form h4{
	font-size:1em;
  	color:#A079A3; /*Orchid*/
    border-bottom:solid 2px #A079A3; /*Orchid*/
}


/*-----------------IMAGES-----------------*/
body figure {
    width:100%;
    max-width:100%;
    margin: 15px auto;
}
body figcaption{
    font-size: .8em;
    margin-top: 3px;
}
body img {
    margin: 15px auto;
}
.shop img {
	margin-bottom:20px;
}
.square-img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*---------------PRODUCT ARCHIVE---------------*/
.shop-archive-item{
    padding:15px;
}
.shop-archive-img{
    position: relative;
    padding-bottom: 100%;
}
.shop .price,
.archive .price{
    color: #6E3077; /*Dk Purple*/
    font-weight: bold;
    margin-top: 0.4em;
    font-size: 1.1em;
    font-family: Trebuchet MS, Verdana, Helvetica, sans serif;
    letter-spacing: -.04em;
}
.shop .price ins,
.archive .price ins{
    text-decoration: none;
}
.shop .price del,
.archive .price del{
    color:lightgray;
    font-weight:500;
}
.post-type-archive-product .main-content-area h2{
    text-align:center;
	margin:-.25em 0 .25em;
  	line-height: 1em;
}


/*---------------SOCIAL SHARING--------------*/
.shareaholic-share-buttons-container.wrapped{
    float:none!important;
    display: block;
    width: 100%;
}
body .shareaholic-share-buttons-container.wrapped ul.shareaholic-share-buttons{
    margin:0!important;
}
div.share p{
    margin:0;
    padding:0;
}
.share .shareaholic-canvas {
  float: left;
  clear: none;
}
.share .shareaholic-share-buttons-container.round li.shareaholic-share-button.has-shares span.share-button-counter{
    margin-top:3px!important;
}
.share i.fa{
    float: left;
    color:#6E3077; /*Dk Purple*/
    margin-right: 6px;
    padding-top:4px!important;
}
.share.small i.fa{
  margin-top: 4px;
  font-size: 1.6em;
}


/*--------------CALLS TO ACTION--------------*/
.CTAcontainer{
	position:relative;
  	margin:0;
	text-shadow: 3px 1px 0px white;
}
.CTATitle.pull-right{
	position:absolute;
	text-align:right;
    right: 2em;
  	margin-left: 2em;
}
.CTATitle.pull-left{
	position:absolute;
	text-align:left;
    left: 2em;
  	margin-right: 2em;
}
.CTATitle.bottom{
	bottom: 2em;
	top: initial;
	margin-bottom: -20px;
}
.CTATitle.col-5-title{
    width:45%;
}
.CTAcontainer img{
	border:1px solid lightgray;
}
.CTATitle h1, .CTATitle h2, .CTATitle h3{
	line-height: 1;
	margin:20px 0px 8px;
	color: #6E3077; /*Dk Purple*/
}
.CTATitle h1{
	font-size: 5.5em;
}
.CTATitle h2{
	font-size: 4em;
}
.CTAcontainer a.button{
    width:initial;
	color: #6E3077; /*Dk Purple*/
}


/*----------------TAB AREA----------------*/
#tabContainer{
	background:lavenderblush;
	padding: 15px;
}
#tabContainer ul {
    margin: 0 0 0 5px;
    padding: 0;
}
#tabContainer .tab-content ul {
    margin: 0 0 0 20px;
}
/*-Tabs-*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';/* Clearfix */
}
.tab-links li {
	margin: 0px 8px;
	float: left;
	list-style: none;
}
.tab-links li a {
	padding: 5px 8px;
	display: inline-block;
	transition: all linear 0.15s;
  	color: #A079A3; /*Orchid*/
  	border: 5px solid #A079A3; /*Orchid*/
    border-bottom:none;
	margin: -5px;
  	text-decoration:none;
}
.tab-links li.active a{
  	background: #A079A3; /*Orchid*/
  	color:white;
  	border: 5px solid white;
}
.tab-links a:hover {
    background:#6E3077; /*Dk Purple*/
    color:lavenderblush;
    text-decoration:none;
}
  
/*-Content of Tabs-*/
.tab-content {
    padding:15px;
    background:white;
    }
.tab {
    display:none;
}
.tab.active {
    display:block;
}

/*------------------------RESPONSIVE MEDIA QUERIES------------------------*/

/*---------------SMALL DESKTOP, TABLET AND MOBILE---------------*/
@media all and (max-width:1200px) {

    .CTATitle h1{
        font-size:4.5em;
    }
    
}
/*---------------TABLET AND MOBILE---------------*/
@media all and (max-width:992px) {

    .CTATitle h1{
        font-size:3.5em;
    }
    
}
/*---------------MOBILE ONLY---------------*/
@media all and (max-width:768px) {
	
    /*---------HEADER---------*/
    #header-img{
        margin-bottom:0;
    }
    #main-nav{
        position: relative;
    }
    #main-nav .custom-search{
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-content{
        padding:10px;
    }
    /*-------HELPER-------*/
    .data-card{
        border:10px solid lavenderblush;
    }
    .data-card .row{
        margin-left:0;
        margin-right:0;
    }
    .data-card-feat-img .row > div{
	   display:initial;
    }
    body .table {
        height:initial;
    }
    /*-------GRAVITY FORMS-------*/
    div.gform_wrapper {
        max-width:100%;
        background-color: #A079A3; /*Orchid*/
        padding:10px;
        margin:0;
    }
    div.gform_wrapper .col-sm-12.field_sublabel_below span > input{
        width:100%;
    }
    div.gform_wrapper .col-sm-12.field_sublabel_below span:first-of-type > input{
        margin-right:0;
    }
    /*-------CTAs-------*/
    .CTAcontainer{
       	position:initial;
	}
	.CTATitle.pull-left,
  	.CTATitle.pull-right,
    .CTATitle.col-5-title{
        position:initial;
		text-align:center;
        float: none !important;
        width:100%;
        top: 13em;
        margin:30px 0 8px;
    }
  	.CTATitle h2{
        font-size:2em;
    }
    .CTAcontainer a.button{
        margin-bottom:10px;
        width:100%;
    }

}


/*-----------BLOG PAGES-----------*/
.single-post h1{
	margin-top:22px;
}


/*-----------FEATURE AREA-----------*/
table td.feature{
  margin-top: .3em;
  font-size: .8em;
  line-height: 1.1;
  vertical-align: middle;
}
table td.feature h2{
  margin-top:0;
  font-size:1.6em;
  line-height:1;
}

.blog-signature{
	font-family: Calligraffiti;
    font-size: 40px;
}