/*-----------------COLOR CLASSES-----------------*/
.brand-color{
	background-color:#705E77; /*Violet*/
	background-image: none;
}
.callout-color{
    background-color:#ACCB37; /*Apple Green*/
	background-image:none;
}
.dark-text{
	background-color:#263D4A; /*Prussian*/
	background-image:none;
}
.accent-color{
	background-color:rgba(239, 214, 210, 0.4); /*Blush*/
	background-image: none;
}
/*---accent text is:#EFD7D3; Blush---*/
/*-----------------FONT CLASSES-----------------*/
body {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  color:#263D4A; /*Prussian*/
}
p {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  font-size: 1em;
  line-height: 1.4em;
}
h1, .h1, h1 a {
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  text-transform: uppercase;
  font-style: italic;
  font-size:40px;
  margin:0 0 7px;
  color:#705E77; /*Violet*/
}
h2, .h2, h2 a {
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  text-transform: uppercase;
  font-style: italic;
  font-size:36px;
  margin:14px 0 7px;
  color:#705E77; /*Violet*/
}
h3, .h3, h3 a {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1;
  margin:20px 0 4px;
  color:#705E77; /*Violet*/
}
h4, .h4, h4 a {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  font-weight:bold;
  font-size: 24px;
  line-height: 1;
  margin:20px 0 4px;
  color:#263D4A; /*Prussian*/
}
h5, .h5, h5 a {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  font-style:italic;
  font-size: 20px;
  line-height: 1;
  margin:20px 0 0;
  color:#263D4A; /*Prussian*/
}
a {
  color:#ACCB37; /*Apple Green*/
  font-weight: 500;
}
a:hover{
  color:#ACCB37; /*Apple Green*/
  text-decoration:none;
}
a.anchor{
  color:#ACCB37; /*Apple Green*/
}
h1 .small, h2 .small, h3 .small, h4 .small{
  color:inherit;
}
aside > p{
  font-family: 'Leckerli One', Trebuchet, serif; font-size: 1.6em;
  color:#705E77; /*Violet*/
}
/*------------------------HEADER------------------------*/
#header img{
  margin-top:0;
  margin-bottom:10px;
  padding:0;
}
.painted-hr{
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
/*----------User Menu----------*/
#user-nav{
  text-align:right;
  padding:5px;
}
/*----------Mega Menu Styles----------*/
/*----------Responsive Menu Icon----------*/
#mega-menu-wrap-header-menu .mega-menu-toggle:before,#mega-menu-wrap-header-menu .mega-menu-toggle:after{
  float:left;
  font-style:normal;
}
/*----------Main Menu----------*/
#main-nav-menu{
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  font-style:italic;
}
#main-nav-menu ul.mega-sub-menu{
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  font-style:normal;
}

/*----------Search Bar----------*/
.custom-search > form{
    float:right;
    margin:.4em;
    width:100%;
}
.custom-search label{
    margin:0 -39px 0 0;
    width: 100%;
}
.custom-search input.search-submit{
    border:none;
    color:white;
    background-color:#705E77; /*Violet*/
    height: 30px;
    width: 34px;
    position: absolute;
    right: 20px;
}
.custom-search input.search-field{
    border:1px solid lightsteelblue;
    padding:.25em 1em;
    font-size:.85em;
    height: 30px;
    font-weight:normal;
    width:100%;
}
/*--------Yoast Breadcrumbs--------*/
#y-breadcrumb{
  margin-bottom:25px;
  margin-top:5px;
}
div#breadcrumbs {
	padding: 10px 20px 0;
	margin: 0px 0 -20px 0;
	font-size: .7em;
}
/*-------------------CONTENT HELPERS-------------------*/
hr{
  clear:both;
}
/*----------Buttons----------*/
.btn-primary{
    background-color:#ACCB37; /*Apple Green*/
    color:white;
}
.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .btn-primary:focus, .btn-primary.active, .open > .btn-primary.dropdown-toggle, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus{
    background-color:#ACCB37; /*Apple Green*/
    color:#EFD7D3; /*Blush*/
}
.btn, #respond input#submit, a.button, button.button, input.button,
.cred-form input[type="button"], .cred-form input[type="submit"]{
    background-color:#ACCB37; /*Apple Green*/
    color:white;
    width:100%;
    text-align:center;
  	margin-top:5px;
    margin-bottom:5px;
    padding:8px;
    line-height: 1;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1px;
    border:solid 1px #A6B26C;
    white-space: nowrap;
    display: inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}
#respond input#submit:hover, a.button:hover, button.button:hover, input.button:hover, .cred-form input[type="button"]:hover, .cred-form input[type="submit"]:hover{
    background-color:#ACCB37; /*Apple Green*/
    color:#EFD7D3; /*Blush*/
}
a.button.ghost, button.button.ghost, input.button.ghost{
    background-color:white;
    color:#EFD7D3; /*Blush*/
    font-size: .8em;
    padding:2px;
  margin-top:10px;
}
a.button.ghost:hover, button.button.ghost:hover, input.button.ghost:hover{
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
    color:white;
}
.btn-primary.dropdown-toggle{
  font-size:13px;
}
/*----------Initial Width Buttons----------*/
table.shop_table.cart #respond input#submit, table.shop_table.cart a.button, table.shop_table.cart button.button, table.shop_table.cart input.button,
.woocommerce .cred-form input[type="button"],div.woocommerce-message a.button{
    width:initial;
}
/*----------Unstyled Table----------*/
.table.no-table td{
    border:none!important;
}
/*----------Add a Rule Above Element----------*/
.rule-above{
  border-top:1px solid #263D4A /*Prussian*/ !important;
  margin-top: 30px !important;
  padding-top: 20px !important;
}
/*----------Add a Rule Below Element----------*/
.rule-below{
  border-bottom:1px solid #263D4A /*Prussian*/ !important;
  margin-bottom: 25px !important;
  padding-bottom: 15px !important;
}
/*----------Rule with Icon----------*/
.rule-below.rule-icon{
  border-bottom:1px solid #263D4A /*Prussian*/ !important;
  margin-bottom: 30px !important;
  padding-bottom: 10px !important;
}
.rule-below.rule-icon i{
    background-color:white;
    position:absolute;
}
/*----------Rule Behind Text----------*/
.rule-header{
	text-align:center;
  	border-bottom:solid 1px #705E77; /*Violet*/
  	height:0.6em;
    margin:25px 0;
}
.rule-header:first-line {
    background-color: white;
}
.rule-header:before,
.rule-header:after{
  	content:'';
    padding: 0 6px;
}
/*---------------------MAIN CONTENT AREAS---------------------*/
/*----------Archive Pages----------*/
.table.archive{
    margin-bottom:2em;
}
/*----------Comments----------*/
ul.commentlist{
    list-style: none;
    padding: 0;
}
li.comment.even{
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
    padding: 10px;
    margin-bottom: 20px;
}
ul.commentlist ul.children{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
ul.commentlist ul.children li.comment{
    background-color: white;
    padding: 10px;
}
/*-----------------Images-----------------*/
body figure {
    width:100%;
    max-width:100%;
    margin: 15px auto;
}
body figcaption{
    font-size: .8em;
    margin-top: 3px;
}
body img {
    margin: 15px auto;
}
.shop img {
	margin-bottom:20px;
}
.square-img-container{
    position: relative;
    padding-bottom: 100%;
}
.square-img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*----------------Tab Area----------------*/
#tabContainer{
  background:rgba(239, 214, 210, 0.4); /*Blush*/
  padding:12px;
  margin-top:20px;
}
#tabContainer ul {
    margin:0 0 30px 0;
    padding:0;
}
#tabContainer .tab-content ul {
    margin:0 0 0 20px;
}
/*-------Tabs-------*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';/* Clearfix */
}
.tab-links li {
	margin: 0px 8px;
	float: left;
	list-style: none;
}
.tab-links li a {
	padding:5px 8px;
	display:inline-block;
	transition:all linear 0.15s;
  	color:#705E77; /*Violet*/
  	border:5px solid white;
    border-bottom:none;
	margin:-5px;
  	text-decoration:none;
}
.tab-links li.active a{
  	background:white;
  	color:#705E77; /*Violet*/
  	border:5px solid white;
}
.tab-links a:hover {
    background:white;
    color:#EFD7D3; /*Blush*/
    text-decoration:none;
}
  
/*-------Content of Tabs-------*/
.tab-content {
    padding:15px;
    background:white;
    }
.tab {
    display:none;
}
.tab.active {
    display:block;
}
/*----------Callouts in Text----------*/
.callout{
	width:80%;
	padding:.7em 1.3em;
	margin:0 auto 1.5em;
	background-color:rgba(239, 214, 210, 0.4); /*Blush*/
	font-family:"Leckerli One", Trebuchet, serif;
	font-weight:600;
	font-size:1.4em;
	line-height:1.2em;
}
/*----------Callout with Tweet This Link----------*/
.callout .tweetThis{
	border-top: 1px solid white;
}
.callout .tweetThis,
.callout .tweetThis a{
	text-align:right;
	text-transform: uppercase;
	font-size: .8em;
	padding: .2em 0 0;
}
.callout .tweetThis a{
	font-family: "Forum", Trebuchet, sans-serif;
}
.callout a{
	color:#705E77; /*Violet*/
}
.callout a:hover{
	color:white;
}
/*----------Call Attention to a Block of Text----------*/
.storytime {
	padding:15px;
	background-color:rgba(239, 214, 210, 0.4); /*Blush*/
	color:#705E77; /*Violet*/
	font-size:.95em;
    margin:15px;
}
/*----------Affiliate Blog Notice----------*/
.affiliate{
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
}
.affiliate .fa-certificate:before{
    color:darkgoldenrod;
}
.affiliate .fa-paw:before{
    color:white;
}
/*----------Data Cards with Just Text----------*/
.data-card{
	margin-bottom:15px;
    border:3px solid #EFD7D3; /*Blush*/
    padding:15px;
}
.data-card-table{
  margin-top:50px;
}
.data-card .row{
	margin-left:5px;
    margin-right:5px;
}
.data-card-table-item{
	font-size:13px;
}
.data-card-table-item h2{
	font-size:18px;
}
.data-card-table-item ul{
	padding-left:12px;
}
.data-card-table-featured{
  	margin-top:-20px;
    border:12px solid #ACCB37; /*Apple Green*/
}
/*----------Data Cards for Blog Archives with Image----------*/
.blog .data-card-feat-img, .archive .data-card-feat-img{
    margin-bottom:15px;
}
.data-card-feat-img .row{
    border:7px double #705E77; /*Violet*/
    padding: 5px;
    width: 100%;
    margin:0 0 15px;
}
.data-card-feat-img .row > div{
	display:table-cell;
    vertical-align: top;
    float:none;
}
.data-card-feat-img .row .feat-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 200px;
    min-height:200px;
}
.data-card-feat-img h1{
    font-size:2.3em;
}
.data-card h2,.data-card h3, .data-card h4{
    margin-top:0;
    margin-bottom:.5em;
}
/*----------Generic Pager Container for Next, Previous----------*/
.pager-container{
    background-color:white;
    padding:0;
  	margin-bottom:20px;
}
div.pager-container > a{
  color:#705E77; /*Violet*/
  font-size:20px;
}
div.pager-container > a:hover{
  color:#ACCB37; /*Apple Green*/
}
div.pager-container > a:nth-child(2){
    float:right;
}
.wpv_pagination_links{
    display:inline-block;
}
.wpv_pagination_dots{
  padding:5px 10px;
  margin:0;
}
/*----------Pager on Shop Pages----------*/
.shop .pager-container{
    padding:0 12px;
    margin:0;
    font-size:12px;
    text-align:right;
  border-bottom:1px solid #705E77; /*Violet*/
}
.shop .pager-container a{
  margin:5px 0;
  float:inherit;
  font-size:18px;
}
.shop div.pager-container > a:nth-child(2){
    float:inherit;
}
.shop .pager-container li{
    display: inline;
    margin: 0 0 0 5px;
}
/*----------Pager In Carousel----------*/
.carousel-container .pager-container{
    background:none;
    padding: 3px 10px 2px;
    margin: 0 0 10px;
    text-align:right;
}
/*--------------------SIDEBARS---------------------*/
.custom-sidebar .row{
    margin:0 0 0 10px;
}
.custom-sidebar .custom-widget{
  background-color:white;
  margin:0 0 15px;
  font-size:18px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.custom-widget-header{
  margin:0;
}
.custom-widget h1, .custom-widget h2, .custom-widget h3, .custom-widget h4, .custom-widget h5{
  border-bottom: 1px solid #705E77; /*Violet*/
  margin:.5em 0 .25em;
}
.custom-widget a{
  color:#263D4A; /*Prussian*/
}
.custom-widget a:hover{
  color:#ACCB37; /*Apple Green*/
}
/*----------------------FOOTER------------------------*/
#pre-footer-menu{
  border-top:1px solid #705E77; /*Violet*/
  border-bottom:1px solid #705E77; /*Violet*/
  border-left:none;
  border-right:none;
  margin:80px 0 10px;
  padding:10px 0 20px;
}

#footer-menu > li{
  display:inline;
}

/*----------------------------PRODUCT PAGES----------------------------*/

/*-------------------GALLERY------------------*/
.seemore{
	text-align:right;
}	
.seemore a{
	color:#705E77; /*Violet*/
  	font-size: 1.5em;
}
#gallery .item img {
  max-height: 520px;
  width: auto;
  margin: 0 auto;
}
#gallery .owl-controls .owl-nav div{
	position:absolute;
  	top: 50%;
	margin:-40px -25px;
  	height: 80px;
	font-size: 80px;
  	color:#705E77; /*Violet*/
  	background:transparent;
}
#gallery .owl-controls .owl-prev{
	left:0;
	border-radius: 0;
}
#gallery .owl-controls .owl-next{
	right:0;
	border-radius: 0;
}
@media screen and (max-width: 400px) {
	#gallery .owl-controls .owl-nav div{
		margin: -30px -20px;
		height: 60px;
		font-size: 60px; 
    }
}
/*-------------------ADD TO CART------------------*/
#add_to_cart_box {
  padding:25px;
  font-size:1em;
  border:4px double #705E77;
}
#add_to_cart_box h1 {
	font-size:1.5em;
}
/*------------Price at Top------------*/
#add_to_cart_box p {
	margin:0 0 10px;
}
#add_to_cart_box .price{
  color:#705E77; /*Violet*/
  font-weight:bold;
  font-family:Trebuchet, serif;
  margin-top:0;
  font-size:16px;
}
#add_to_cart_box p.price::before {
	content: 'List Price: ';
  	display:block;
}
#add_to_cart_box .price ins{
  text-decoration: none;
  font-size:1.4em;
}
#add_to_cart_box .price del{
  color:#263D4A; /*Prussian*/
  font-weight:500;
}
/*------------Variation Drop Down------------*/
#add_to_cart_box table{
	width: 100%;
}
#add_to_cart_box table td.label{
	padding: 0;
    margin-right: 5px;
    font-size: 14px;
}
#add_to_cart_box table td.value select{
	width: 100%;
}
#add_to_cart_box a.reset_variations{
  	display: block;
  	text-align: right;
}
#add_to_cart_box .single_variation_wrap span.price::before {
	content: 'Price Per Pack: ';
}
#add_to_cart_box .single_variation_wrap span.price {
    margin-top:10px;
}
/*------------Quantity------------*/
#add_to_cart_box .quantity:before {
  content: 'How Many? ';
  font-weight: bold;
  font-size: 1em;
}
#add_to_cart_box .quantity{
    width:100%;
    margin-top:10px;
}
.single_add_to_cart_button{
    margin-top: 15px;
}
/*-----Product Form Styling-----*/
#add_to_cart_box .gform_wrapper {
	max-width:100%;
    padding:0;
    margin:0;
    background-color:initial;
  	border:none;
}
/***Gravity Total***/
#add_to_cart_box .product_totals .gfield_label{
    text-align:center;
    width:100%;
	border-bottom:1px solid #705E77; /*Violet*/
}
#add_to_cart_box .product_totals .ginput_container{
    text-align:center;
}

/*****ITEM DESC*****/
.itemDesc{
	width:90%;
  	margin:0 auto;
}
.itemDesc h3{
	margin: .25em 0;
}
h3.pinterest{
	z-index: 1000;
	position: relative;
}
/*****PINTEREST*****/
.pinspire > span {
	width: 100% !important;
  	max-width:676px !important;
	overflow: scroll !important;
}
/*-------------------CART PAGE------------------*/
table.shop_table.cart.col-sm8.col-md-9{
  width:65%;
}
div.cart-collaterals.col-sm-4.col-md-3{
  width:35%;
  min-width:298px;
}
table.shop_table tbody{
  border-bottom:solid 1px #263D4A; /*Prussian*/
}
table.shop_table thead{
  border-bottom:1px solid lightsteelblue;
}
table.shop_table th{
  padding-right:8px;
}
table.shop_table tr.cart_item{
  border-bottom:solid 1px #263D4A; /*Prussian*/
}
table.shop_table tr.cart_item td.product-remove{
  text-align:center;
  vertical-align:top;
}
table.shop_table tr.cart_item td.product-remove a.remove{
  padding:15px 5px;
  display:block;
}
table.shop_table tr.cart_item td.product-thumbnail{
  width:100px;
  vertical-align:top;
}
table.shop_table tr.cart_item td.product-name,
table.shop_table tr.cart_item td.product-total{
  vertical-align:top;
  padding:10px 5px;
}
table.shop_table tr.cart_item td.product-price,
table.shop_table tr.cart_item td.product-quantity,
table.shop_table tr.cart_item td.product-subtotal{
  text-align:right;
  vertical-align:top;
  padding:10px 5px;
}
table.shop_table tr.cart_item td.product-name a{
  font-weight:bold;
  font-size:larger;
}
table.shop_table tr.cart_item td.product-subtotal{
  font-weight:bold;
  background-color:#fafafa;
}
table.shop_table td.actions{
  padding:5px 0 0;
}
table.shop_table div.coupon,
table.shop_table input[name="update_cart"]{
  float:right;
}
table.shop_table input[name="update_cart"]{
  margin:0 20px;
}
table.shop_table input.qty{
  max-width:60px;
}
div.cart-collaterals div.cart_totals{
    padding: 10px;
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
}
div.cart-collaterals h2{
  margin-top:0;
}
div.cart-collaterals table{
  width:100%;
}
div.cart-collaterals table tr{
  vertical-align:top;
}
div.cart-collaterals table tr th{
  padding-right:8px;
}
div.cart-collaterals table tr td{
  padding-bottom:10px;
}
/*-------------------CHECKOUT PAGE------------------*/
#ship-to-different-address .checkbox,
.terms .checkbox{
  display:inline-block;
  margin:5px 0 0;
}
#payment{
  margin-top: 20px;
  border-top: 1px solid #263D4A; /*Prussian*/
  padding-top: 10px;
}
/*-------------------ACCOUNT PAGE------------------*/
table.my_account_orders{
  width:100%;
}
.col2-set .col-1, .col2-set .col-2{
  width:50%;
  float:left;
}
/*-------------------WOO MESSAGES------------------*/
div.woocommerce-message{
    margin: 30px 0;
    background-color:#705E77; /*Violet*/
    color: white;
    padding: 10px 10px 5px;
}


/*---------------PRODUCT ARCHIVE---------------*/
.shop-archive-item{
    padding:15px;
}
.shop .price,
.archive .price{
    color:#705E77; /*Violet*/
    font-weight: bold;
    margin-top: 0.4em;
    font-size: 1.1em;
    font-family: Trebuchet MS, Verdana, Helvetica, sans serif;
    letter-spacing: -.04em;
}
.shop .price ins,
.archive .price ins{
    text-decoration: none;
}
.shop .price del,
.archive .price del{
    color:lightgray;
    font-weight:500;
}
.post-type-archive-product .main-content-area h2{
    text-align:center;
	margin:-.25em 0 .25em;
  	line-height: 1em;
}
/*--------------------------END PRODUCT PAGES--------------------------*/


/*---------------SOCIAL SHARING--------------*/
.shareaholic-share-buttons-container.wrapped{
    float:none!important;
    display: block;
    width: 100%;
}
body .shareaholic-share-buttons-container.wrapped ul.shareaholic-share-buttons{
    margin:0!important;
}
div.share p{
    margin:0;
    padding:0;
}
.share .shareaholic-canvas {
  float: left;
  clear: none;
}
.share .shareaholic-share-buttons-container.round li.shareaholic-share-button.has-shares span.share-button-counter{
    margin-top:3px!important;
}

/*--------------CALLS TO ACTION--------------*/
.CTAcontainer{
	position:relative;
  	margin:0;
	text-shadow: 3px 1px 0px white;
}
.CTATitle.pull-right{
	position:absolute;
	text-align:right;
    right: 2em;
  	margin-left: 2em;
}
.CTATitle.pull-left{
	position:absolute;
	text-align:left;
    left: 2em;
  	margin-right: 2em;
}
.CTATitle.bottom{
	bottom: 2em;
	top: initial;
	margin-bottom: -20px;
}
.CTATitle.col-5-title{
    width:45%;
}
.CTAcontainer img{
	border:1px solid lightgray;
  	width:100%;
    height:auto;
}
.CTATitle h1, .CTATitle h2, .CTATitle h3{
	line-height: 1;
	margin:20px 0px 8px;
	color:#705E77; /*Violet*/
}
.CTATitle h1{
	font-size: 5.5em;
}
.CTATitle h2{
	font-size: 4em;
}
.CTAcontainer a.button{
    width:initial;
	color:white;
}

/*----------------GRAVITY FORMS, FILTERS, PARAMETRICS----------------*/
/*-----General Form Styling-----*/
.gform_wrapper {
	max-width:100%;
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
    padding:15px 30px;
}
.gform_wrapper input.button{ /*Make button stand out*/
    border:1px solid #ACCB37; /*Apple Green*/
}
.gform_wrapper input.button:hover{ /*Make button stand out*/
    color:#EFD7D3; /*Blush*/
}
.gform_validation_container{ /*Hide the honeypot spam field*/
    visibility:hidden;
    display:none;
}
.gform_footer input[type="submit"]{
    margin-top:10px;
}
.wpv-filter-form{
    padding:5px 0;
}
/*----------Form Labels Styling---------*/
.gform_wrapper h2{
    font-size: 24px;
    margin:15px 0 0;
}
/*----------Form Fields Styling---------*/
.gform_wrapper ul,
ul.payment_methods{ /*No bullets*/
    list-style: none;
    padding:0;
}
.gform_wrapper .gfield_label{ /*Style Above Labels for all Inputs*/
    margin:10px 0 0;
}
/*-----Text Field Styling-----*/
.gform_wrapper input[type=text],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=url],
.gform_wrapper input[type=number],
.gform_wrapper select,
.gform_wrapper textarea,
form textarea{ /*All Text Inputs at 100%*/
    width:100%;
    border:1px solid lightsteelblue;
    padding:2px 0;
}
.gform_wrapper .ginput_complex.no_last_name span{
    width:100%;
    padding:2px 0;
}

/*-----Complex Text Field Styling-----*/
.gform_wrapper .ginput_complex.no_last_name label{ /*Remove Label on no last name*/
    display: none;
}
.gform_wrapper .ginput_complex span{ /*All 2-Part Text Inputs at 100%*/
    width: 49%;
    display: block;
    float: left;
    margin-right: 2%;
}
.gform_wrapper .ginput_complex span:last-of-type{
    margin-right:0;
}
.gform_wrapper .col-sm-6{ /*Bootstrap 2-Part Text Inputs at 100%*/
    width: 49%;
    margin-right: 2%;
    padding:0;
}
.gform_wrapper .col-sm-8{ /*Bootstrap 2-Part Text Inputs at 100%*/
    padding:0;
}
.gform_wrapper .last-in-col{
    margin-right:0;
}
.gform_wrapper .ginput_complex span:after{
    clear:both;
}
.gform_wrapper .ginput_complex label,
.gform_wrapper .instruction{ /*Style Below Labels for Complex Inputs*/
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
}
/*-----Radio and Checkbox Field Styling-----*/
.gform_wrapper input[type=radio],
.gform_wrapper input[type=checkbox]{ /*All Text Inputs at 100%*/
    width:initial;
    float:left;
}
.gform_wrapper .gfield_checkbox label{ /*All Chekcbox Labels Styled*/
    margin-left:25px;
    display:block;
    font-weight: normal;
}
/*-----Upload Area-----*/
.gform_wrapper .gform_drop_area{
    border: 2px dashed white;
    padding: 30px;
    text-align: center;
}
/*-----Date Area-----*/
.ui-datepicker-trigger{
    display:none;
}
/*-----Sidebar Form Styling-----*/
.custom-sidebar .gform_wrapper { /*Less Spacing on Sidebar*/
    padding:10px;
    margin:15px 0 5px;
	max-width:100%;
    border:none;
    background-color:white;
}
.wpv-filter-form ul.categorychecklist,
.wpv-filter-form ul.categorychecklist ul.children{ /*No bullets*/
    list-style:none;
    padding:0;
    font-size:13px;
}
.wpv-filter-form ul.categorychecklist ul.children{
    padding-left: 10px;
}
.wpv-filter-form ul.categorychecklist label{ /*Not bold*/
    font-weight:normal;
}
/*-------Parametric Filters-------*/
.filter-container {
    padding:0 12px;
  	margin-bottom:20px;
}
.filter-container h4{
  	margin-top:10px;
}
.filter-container hr{
	clear:both;
}
.filter-bootstrap{
    font-weight: bold;
    color:#705E77; /*Violet*/
}
.filter-bootstrap-label-lalign div{
  display:inline-block;
  float:left;
  margin-right:10px;
}
.filter-bootstrap input,
.filter-bootstrap select,
.filter-container select{
    width:100%;
    color:#263D4A; /*Prussian*/
}
.filter-bootstrap-label-lalign input,
.filter-bootstrap-label-lalign select{
  width:initial;
}
.filter-bootstrap select{
    margin:3px;
}
.filter-bootstrap input[type=submit]{
    margin:1em 0 0;
}
.shop form h4{
	font-size:1em;
  	color:#705E77; /*Violet*/
    border-bottom:solid 1px #705E77; /*Violet*/
	padding-bottom:4px;
}



/*-----------FEATURE AREA-----------*/
table > tbody > tr > td.feature-img{
  padding:0;
  width:90px;
}
table td.feature{
  margin-top: .3em;
  font-size: .8em;
  line-height: 1.1;
  vertical-align: middle;
}
table td.feature h2{
  margin-top:0;
  font-size:1.6em;
  line-height:1;
}



/*------------------------RESPONSIVE MEDIA QUERIES------------------------*/

/*---------------SMALL DESKTOP, TABLET AND MOBILE---------------*/
@media all and (max-width:1200px) {

    .CTATitle h1{
        font-size:4.5em;
    }
    
}
/*---------------TABLET AND MOBILE---------------*/
@media all and (max-width:992px) {

    .CTATitle h1{
        font-size:3.5em;
    }
    table.shop_table.cart.col-sm8.col-md-9{
		width:100%;
	}
	div.cart-collaterals.col-sm-4.col-md-3{
		width:100%;
}

    
}
/*---------------MOBILE ONLY---------------*/
@media all and (max-width:768px) {
	
    /*---------HEADER---------*/
    #header-img{
        margin-bottom:0;
    }
    #main-nav{
        position: relative;
    }
    #main-nav .custom-search{
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-content{
        padding:10px;
    }
    /*-------HELPER-------*/
    .data-card{
    	border:7px double #705E77; /*Violet*/
    }
    .data-card .row{
        margin-left:0;
        margin-right:0;
    }
    .data-card-feat-img .row > div{
	   display:initial;
    }
    body .table {
        height:initial;
    }
    /*-------GRAVITY FORMS-------*/
    div.gform_wrapper {
        max-width:100%;
        margin:0;
    }
    div.gform_wrapper .col-sm-12.field_sublabel_below span > input{
        width:100%;
    }
    div.gform_wrapper .col-sm-12.field_sublabel_below span:first-of-type > input{
        margin-right:0;
    }
    /*-------CTAs-------*/
    .CTAcontainer{
       	position:initial;
	}
	.CTATitle.pull-left,
  	.CTATitle.pull-right,
    .CTATitle.col-5-title{
        position:initial;
		text-align:center;
        float: none !important;
        width:100%;
        top: 13em;
        margin:30px 0 8px;
    }
  	.CTATitle h2{
        font-size:2em;
    }
    .CTAcontainer a.button{
        margin-bottom:10px;
        width:100%;
    }

}