/*-----------FEATURE AREA-----------*/
table td.feature{
  margin-top: .3em;
  font-size: .8em;
  line-height: 1.1;
  vertical-align: middle;
}
table td.feature h2{
  margin-top:0;
  font-size:1.6em;
  line-height:1;
}
/*-----------TAB AREA-----------*/
#tabContainer{
	background: #f6dfed;
	padding: 15px;
}
#tabContainer ul {
	margin: 0 0 5px 25px;
}
/*-Tabs-*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';/* Clearfix */
}
.tab-links li {
	margin: 0px 5px;
	float: left;
	list-style: none;
}
.tab-links li a {
	padding: 5px 8px;
	display: inline-block;
	transition: all linear 0.15s;
  	color: #b565a7;
  	border: 5px solid #b565a7;
	margin: -5px;
  	text-decoration:none;
}
.tab-links li.active a{
  	background: #b565a7;
  	color:#fff;
  	border: 5px solid #fff;
}
.tab-links a:hover {
    background:#61338a;
    text-decoration:none;
}
  
/*-Content of Tabs-*/
.tab-content {
    padding:15px;
    background:#fff;
    }
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}