/*----------------------------------------------------------------------------*/
/*-------------------------------COLOR CLASSES-------------------------------*/
/*----------------------------------------------------------------------------*/
.brand-color{
	background-color:#705E77; /*Violet*/
	background-image: none;
}
.callout-color{
    background-color:#ACCB37; /*Apple Green*/
	background-image:none;
}
.dark-color{
	background-color:#263D4A; /*Prussian*/
	background-image:none;
}
.accent-color{
	background-color:rgba(239, 214, 210, 0.4); /*Blush*/
	background-image: none;
}
.brand-text{
	color:#705E77; /*Violet*/
}
.callout-text{
	color:#ACCB37; /*Apple Green*/
}
.dark-text{
	color:#263D4A; /*Prussian*/
}
.accent-text{
	color:#EFD7D3; /*Blush*/
}
/*----------------------------------------------------------------------------*/
/*-------------------------------FONT CLASSES-------------------------------*/
/*----------------------------------------------------------------------------*/
body {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  color:#263D4A; /*Prussian*/
}
p {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  font-size:1.5rem;
  line-height:1.4em;
}
h1, .h1, h1 a {
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  text-transform: uppercase;
  font-style: italic;
  font-size:4rem;
  margin:0 0 7px;
  color:#705E77; /*Violet*/
}
h1.small{
	font-size:3.6rem;
}
h2, .h2, h2 a {
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  text-transform: uppercase;
  font-style: italic;
  font-size:3rem;
  margin:14px 0 7px;
  color:#705E77; /*Violet*/
}
h2.small{
  font-size:2.5rem;
}
h3, .h3, h3 a {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  text-transform: uppercase;
  font-size:2.5rem;
  line-height: 1;
  margin:20px 0 4px;
  color:#705E77; /*Violet*/
}
h4, .h4, h4 a {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  font-weight:bold;
  font-size:2rem;
  line-height: 1;
  margin:20px 0 4px;
  color:#263D4A; /*Prussian*/
}
h5, .h5, h5 a {
  font-family: Playfair Display, Baskerville, Trebuchet, serif;
  font-style:italic;
  font-size:1.8rem;
  line-height: 1;
  margin:20px 0 0;
  color:#263D4A; /*Prussian*/
}
h1 .small, h2 .small, h3 .small, h4 .small{
  color:inherit;
}
a, a h1, a h2, a h3, a h4, a h5{
  color:#ACCB37; /*Apple Green*/
  font-weight:500;
}
a.anchor{
  color:#ACCB37; /*Apple Green*/
}
a.inline-edit{
  color:#ACCB37; /*Apple Green*/
  text-transform:capitalize;
  font-size:65%;
}
a:hover,
a.inline-edit:hover{
  color:#95B420; /*Dk Apple Green*/
  text-decoration:none;
}
aside > p{
  font-family: Playfair Display, Trebuchet, serif; font-size: 1.6em;
  color:#705E77; /*Violet*/
}
.bold-text,
.bold-text a{
  font-weight:bold;
}
/*----------------------------------------------------------------------------*/
/*--------------------------------- HEADER ---------------------------------*/
/*----------------------------------------------------------------------------*/
#header img{
  margin-top:0;
  margin-bottom:10px;
  padding:0;
}
.painted-hr{
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
/*----------------------User Menu----------------------*/
#user-nav{
  text-align:right;
  padding:5px;
}
/*----------------------Mega Menu Styles----------------------*/
/*----------Responsive Menu Icon----------*/
#mega-menu-wrap-header-menu .mega-menu-toggle .mega-toggle-block-right,
#mega-menu-wrap-header-menu .mega-menu-toggle:before,
#mega-menu-wrap-header-menu .mega-menu-toggle:after{
  float:left;
  font-style:normal;
}
/*----------Main Menu----------*/
#main-nav-menu{
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  font-style:italic;
}
#main-nav-menu ul.mega-sub-menu{
  font-family:Playfair Display, Baskerville, Trebuchet, serif;
  font-style:normal;
}
/*----------Search Bar----------*/
.custom-search > form{
    float:right;
    margin:.4em;
    width:100%;
}
.custom-search label{
    margin:0 -39px 0 0;
    width: 100%;
}
.custom-search input.search-submit{
  border:none;
  color:white;
  background-color:#705E77; /*Violet*/
  height: 30px;
  width: 34px;
  position: absolute;
  right: 20px;
  margin:0;
  padding:0;
}
.custom-search input.search-field{
    border:1px solid lightsteelblue;
    padding:.25em 1em;
    font-size:.85em;
    height: 30px;
    font-weight:normal;
    width:100%;
}
/*----------------------Yoast Breadcrumbs----------------------*/
#y-breadcrumb{
  margin-bottom:25px;
  margin-top:5px;
}
div#breadcrumbs {
	padding: 10px 20px 0;
	margin: 0px 0 -20px 0;
	font-size: .7em;
}
/*----------------------UNDER HEADER SPACING----------------------*/
.landing-page .main-content-area,
.single-custom-contract .main-content-area,
.single-project .main-content-area,
.single-proof .main-content-area{
  margin-top:20px;
}
/*----------------------------------------------------------------------------*/
/*-------------------------------CONTENT HELPERS-------------------------------*/
/*----------------------------------------------------------------------------*/
hr{
  clear:both;
}
/*--------------------Buttons--------------------*/
.btn, .btn-primary, #respond input#submit, a.button, button.button, input.button,
.cred-form input[type="button"], form input[type="submit"]{ /*-----ALL BUTTONS GREEN!-----*/
    background-color:#ACCB37; /*Apple Green*/
    color:white;
    width:100%;
    text-align:center;
  	margin-top:5px;
    margin-bottom:5px;
    padding:8px;
    line-height: 1;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1px;
    border:solid 1px #A6B26C; /*Dark Apple Green*/
    white-space: nowrap;
    display: inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}
.btn-lg{
  font-size:24px;
  padding:14px;
}
.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .btn-primary:focus, .btn-primary.active, .open > .btn-primary.dropdown-toggle, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus, #respond input#submit:hover, a.button:hover, button.button:hover, input.button:hover, .cred-form input[type="button"]:hover, form input[type="submit"]:hover{ /*-----ALL HOVER BUTTONS DARK GREEN!-----*/
    background-color:#95B420; /*Dk Apple Green*/
    color:#EFD7D3; /*Blush*/
}
a.button.ghost, button.button.ghost, input.button.ghost{ /*-----GHOST BUTTONS GRAY!-----*/
    background-color:white;
    color:#EFD7D3; /*Blush*/
    font-size: .8em;
    padding:2px;
  margin-top:10px;
}
a.button.ghost:hover, button.button.ghost:hover, input.button.ghost:hover{ /*-----HOVER GHOST BUTTONS BLUSH!-----*/
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
    color:white;
}
.btn-primary.dropdown-toggle{ /*-----TOGGLE BUTTONS SMALLER-----*/
  font-size:13px;
}
/*----------Initial Width Buttons----------*/
table.shop_table.cart #respond input#submit,
table.shop_table.cart a.button,
table.shop_table.cart button.button,
table.shop_table.cart input.button,
.cred-form input[type="button"],
div.woocommerce-message a.button{
    width:initial;
}
/*--------------------TABLE HELPERS--------------------*/
.table.no-table td{
    border:none!important;
}
table {
	width:100%;
}
table tfoot{
  border-top:3px solid #705E77; /*Violet*/
}
/*--------------------LIST HELPERS--------------------*/
ul, ol{
  margin-bottom:25px;
}
.fa-ul{
  margin-right:10px;
}
.fa-ul>li{
  margin-bottom:10px;
}
.fa-ul.checklist>li:before{
  margin-left:-20px;
  font-family: FontAwesome;
  content:"\f046";
  margin-right:3px;
}
/*--------------------HR HELPERS--------------------*/
/*----------Add HR Above Element----------*/
.rule-above{
  border-top:1px solid #263D4A /*Prussian*/ !important;
  margin-top: 30px !important;
  padding-top: 20px !important;
}
/*----------Add HR Below Element----------*/
.rule-below{
  border-bottom:1px solid #263D4A /*Prussian*/ !important;
  margin-bottom: 25px !important;
  padding-bottom: 15px !important;
}
/*----------Rule with Icon----------*/
.rule-below.rule-icon{
  border-bottom:1px solid #263D4A /*Prussian*/ !important;
  margin-bottom: 30px !important;
  padding-bottom: 10px !important;
}
.rule-below.rule-icon i{
    background-color:white;
    position:absolute;
}
/*----------Rule Behind Header Text----------*/
.rule-header{
	text-align:center;
  	border-bottom:solid 1px #705E77; /*Violet*/
  	height:0.6em;
    margin:25px 0;
}
.rule-header:first-line {
    background-color: white;
}
.rule-header:before,
.rule-header:after{
  	content:'';
    padding: 0 6px;
}
/*----------Side Rules----------*/
.rule-left{
  border-left:1px solid #705E77; /*Violet*/
  padding-left:25px;
}
/*----------------------------------------------------------------------------*/
/*-----------------------------MAIN CONTENT AREAS-----------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------Archive Pages--------------------*/
.table.archive{
    margin-bottom:2em;
}
/*--------------------Comments--------------------*/
ul.commentlist{
    list-style: none;
    padding: 0;
}
li.comment.even{
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
    padding: 10px;
    margin-bottom: 20px;
}
ul.commentlist ul.children{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
ul.commentlist ul.children li.comment{
    background-color: white;
    padding: 10px;
}
/*-----------------Images-----------------*/
body figure {
    width:100%;
    max-width:100%;
    margin: 15px auto;
}
body figcaption,
figcaption.wp-caption-text{
  font-size: .8em;
  color:#666;
  margin:-10px 0 0;
  padding:0 9px 9px;
}
body img {
    margin: 15px auto;
}
.shop img,
.parent-pageid-75 img {
	margin-bottom:20px;
}
/*-----------------Square Images-----------------*/
.square-img-container{
    position: relative;
    padding-bottom: 100%;
}
.square-img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*----------------Tab Area----------------*/
#tabContainer{
  padding:12px;
  margin-top:10px;
}
#tabContainer ul {
    margin:0 0 -6px 0;
    padding:0;
}
#tabContainer .tab-content ul {
    margin:0 0 0 20px;
}
/*-------Tabs-------*/
.tabs {
    width:100%;
    display:inline-block;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';/* Clearfix */
}
.tab-links li {
	margin:0 12px;
    padding-bottom:5px;
	float:left;
	list-style:none;
}
.tab-links li a {
	padding:5px 8px;
	display:inline-block;
	transition:all linear 0.15s;
  	background-color:#705E77; /*Violet*/
  	border:5px solid #705E77; /*Violet*/
    color:white;
    border-bottom:none;
	margin:-5px;
  	text-decoration:none;
}
.tab-links li.active a{
  	background:white;
  	color:#705E77; /*Violet*/
  	border:6px solid #705E77; /*Violet*/
    border-bottom:none;
    padding-bottom:10px;
}
.tab-links a:hover {
    background:white;
    color:#EFD7D3; /*Blush*/
    text-decoration:none;
}
.tabs-unstyled .tab-links li {
  margin:0;
  padding-bottom:0;
}
.tabs-unstyled .tab-links li a,
.tabs-unstyled .tab-links li a h2{
  border:none;
  color:#ACCB37; /*Apple Green*/
  background:none;
  text-transform:capitalize;
}
.tabs-unstyled .tab-links li.active a,
.tabs-unstyled .tab-links li.active a h2{
  border:none;
  color:#705E77; /*Violet*/
  background:none;
  text-transform:uppercase;
}
.tabs-unstyled .tab-links a:hover {
  background:none;
  color:#EFD7D3; /*Blush*/
  text-decoration:none;
}
.tabs-left .tab-links li {
  margin:0;
  padding:0;
  display:block;
  width:100%;
}
.tabs-left .tab-links li a,
.tabs-left .tab-links li a h2{
  border:none;
  color:#ACCB37; /*Apple Green*/
  background:none;
  width:100%;
  padding:8px;
  margin:0;
}
.tabs-left .tab-links li.active a,
.tabs-left .tab-links li.active a h2{
  border:none;
  color:white;
  background:#705E77; /*Violet*/
}
.tabs-left .tab-links a:hover {
  background:none;
  color:#EFD7D3; /*Blush*/
  text-decoration:none;
}
/*-------Content of Tabs-------*/
.tab-content {
    padding:15px;
    background:white;
    border:6px solid #705E77; /*Violet*/
    }
.tab {
    display:none;
}
.tab.active {
    display:block;
}
.tabs-left .tab-content{
  min-height:200px;
}
/*--------------------Callouts in Text (Blush)--------------------*/
.callout, .callout-accent{
	width:80%;
	padding:.7em 1.3em;
	margin:0 auto 1.5em;
	background-color:rgba(239, 214, 210, 0.4); /*Blush*/
	font-family:"Playfair Display", Trebuchet, serif;
	font-weight:600;
	font-size:1.4em;
	line-height:1.2em;
}
/*----------------Callout with Tweet This Link----------------*/
.callout .tweetThis{
	border-top: 1px solid white;
}
.callout .tweetThis,
.callout .tweetThis a{
	text-align:right;
	text-transform: uppercase;
	font-size: .8em;
	padding: .2em 0 0;
}
.callout .tweetThis a{
	font-family: "Playfair Display", Trebuchet, sans-serif;
}
.callout a{
	color:#705E77; /*Violet*/
}
.callout a:hover{
	color:white;
}
/*----------------Call Attention to a Block of Text (Purple)----------------*/
.callout-brand, .storytime{
	padding:15px;
	background-color:#705E77; /*Violet*/
	color:white;
	font-size:.95em;
    margin:15px;
}
.callout-brand h2, .storytime h2,
.callout-brand h1, .storytime h1{
	color:white;
  	margin:4px;
}
.callout-brand h3, .storytime h3,
.callout-brand h4, .storytime h4{
	color:#EFD7D3; /*Blush*/
  	margin:4px;
}
/*----------------Affiliate Blog Notice----------------*/
.affiliate{
    background-color:#705E77; /*Violet*/
}
.affiliate .fa-certificate:before{
    color:white;
}
.affiliate .fa-paw:before{
    color:darkgoldenrod;
}
/*----------------Data Cards with Just Text----------------*/
.data-card{
	margin-bottom:15px;
    border:3px solid #EFD7D3; /*Blush*/
    padding:15px;
}
.data-card-table{
  margin-top:50px;
}
.data-card .row{
	margin-left:5px;
    margin-right:5px;
}
.data-card-table-item{
	font-size:13px;
}
.data-card-table-item h2{
	font-size:18px;
}
.data-card-table-item ul{
	padding-left:12px;
}
.data-card-table-featured{
  	margin-top:-20px;
    border:12px solid #ACCB37; /*Apple Green*/
}
/*----------Data Cards for Blog Archives with Image----------*/
.blog .data-card-feat-img, .archive .data-card-feat-img{
    margin-bottom:15px;
}
.data-card-feat-img .row{
    border:7px double #705E77; /*Violet*/
    padding:5px;
    width:100%;
    margin:0 0 15px;
}
.data-card-feat-img .row > div{
  display:table-cell;
  vertical-align:top;
  float:none;
}
.data-card-feat-img .row .feat-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height:200px
}
.data-card-feat-img h1,
.data-card-feat-img h1 a{
    font-size:30px;
}
.data-card h2,.data-card h3, .data-card h4{
    margin-top:0;
    margin-bottom:.5em;
}
/*----------Generic Pager Container for Next, Previous----------*/
.pager-container{
    background-color:white;
    padding:0;
  	margin-bottom:20px;
}
div.pager-container > a{
  color:#705E77; /*Violet*/
  font-size:20px;
}
div.pager-container > a:hover{
  color:#ACCB37; /*Apple Green*/
}
div.pager-container > a:nth-child(2){
    float:right;
}
.wpv_pagination_links{
    display:inline-block;
}
.wpv_pagination_dots{
  padding:5px 10px;
  margin:0;
}
/*----------Pager on Shop Pages----------*/
.shop .pager-container,
.parent-pageid-75 .pager-container{
    padding:0 12px;
    margin:0;
    font-size:12px;
    text-align:right;
  border-bottom:1px solid #705E77; /*Violet*/
}
.shop .pager-container a,
.parent-pageid-75 .pager-container a{
  margin:5px 0;
  float:inherit;
  font-size:18px;
}
.shop div.pager-container > a:nth-child(2),
.parent-pageid-75 div.pager-container > a:nth-child(2){
    float:inherit;
}
.shop .pager-container li
.parent-pageid-75 .pager-container li{
    display: inline;
    margin: 0 0 0 5px;
}
/*-----------HOME PAGE Features Table-----------*/
table > tbody > tr > td.feature-img{
  padding:0;
  width:90px;
}
table td.feature{
  margin-top: .3em;
  font-size: .8em;
  line-height: 1.1;
  vertical-align: middle;
}
table td.feature h2{
  margin-top:0;
  font-size:1.6em;
  line-height:1;
}
/*-----------EMAIL signup bar - ONLY Desktop see mobile styles-----------*/
#email-download-img{
  width:300px;
  margin-right:-300px;
  margin-left:-30px;
  margin-top:-20px;
  margin-bottom:-20px;
}
#email-download-text{
  margin-left:260px;
  position:absolute;
  top:0;
}
/*----------------------------------------------------------------------------*/
/*-------------------------------SIDEBAR AREAS-------------------------------*/
/*----------------------------------------------------------------------------*/
.custom-sidebar p,
.custom-sidebar label{
  font-size:14px;
}
.custom-sidebar .row{
    margin:0 0 0 10px;
}
.custom-sidebar .custom-widget{
  background-color:white;
  margin:0 0 15px;
  font-size:18px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.custom-widget-header{
  margin:0;
}
.custom-widget h1, .custom-widget h2, .custom-widget h3, .custom-widget h4, .custom-widget h5{
  border-bottom: 1px solid #705E77; /*Violet*/
  margin:.5em 0 .25em;
}
.custom-widget a{
  color:#263D4A; /*Prussian*/
}
.custom-widget a:hover{
  color:#95B420; /*Dk Apple Green*/
}
.inline-icon img{
  margin:2px auto;
}
/*----------------------------------------------------------------------------*/
/*-------------------------------FOOTER AREAS-------------------------------*/
/*----------------------------------------------------------------------------*/
#pre-footer-menu{
  border-top:1px solid #705E77; /*Violet*/
  border-bottom:1px solid #705E77; /*Violet*/
  border-left:none;
  border-right:none;
  margin:80px 0 10px;
  padding:10px 0 20px;
}
#footer-menu > li{
  display:inline;
}

/*----------------------------------------------------------------------------*/
/*-------------------------------PRODUCT PAGES-------------------------------*/
/*----------------------------------------------------------------------------*/

/*-------------------GALLERY------------------*/
.seemore{
	text-align:right;
}	
.seemore a{
  color:#705E77; /*Violet*/
  font-size: 1.5em;
}
#gallery .item img {
  max-height: 520px;
  width: auto;
  margin: 0 auto;
}
/*-----------------------------------------------------------------*/
/*-------------------COMPOSITE + BUNDLED PRODUCTS------------------*/
/*-----------------------------------------------------------------*/

/*-------------------Edits to Content Template/Layout------------------*/
.product-type-composite div.border-right{
  border-right:solid 3px #705E77; /*Violet*/
}
.product-type-composite #gallery .item img{
  max-height:initial;
  width:auto;
  margin:0 auto;
}
/*-------------------Component (Container) Title (NOT Product Title)------------------*/
.product-type-composite.product .component h2.component_title.product_title,
.product-type-composite.product .component h2.component_title.summary_title{
  margin:0;
  padding:0;
  font-size:2rem;
  width:100%;
}
.product-type-composite .progressive.component h2.component_title.product_title{
  padding-right:28px;
}
.product-type-composite .progressive.component a.toggle_component{
  margin:0;
}
.product-type-composite .progressive.component.open a.toggle_component:after,
.product-type-composite .progressive.component.closed a.toggle_component:after{
  font-style:normal;
  right:0;
  bottom:1rem;
}
.product-type-composite .progressive.component.closed a.toggle_component:after{
  bottom:1rem;
}
/*-------------------Component Thumbnail------------------*/
.product-type-composite .component .composited_product_images img{
  width:180px; 
}

.product-type-composite .component_selections .component_selections_inner{
  padding:0;
}

.product-type-composite .component.options-style-dropdowns .component_options_inner{
  padding:0;
}
.product-type-composite div.composite_pagination ul.pagination_elements,
.product-type-composite div.widget_composite_summary ul.summary_elements,
.product-type-composite div.component_content,
.product-type-composite div.component_options{
  font-size:14px;
  line-height:1;
  padding:0;
}
.product-type-composite div.composite_summary ul.summary_elements{
  margin:0;
  padding:0;
}
div.bundled_product_summary{
  margin:0;
  padding:0 0 0 95px;
}
.product_tag-bundle-grid .bundled_product_summary{
  width:50%;
  float:left;
  padding:0 30px 0 95px;
}
.product_tag-bundle-grid .bundled_product_summary.thumbnail_hidden{
  width:100%;
}
/*-------------------Product and Bundled Products Titles------------------*/
h4.bundled_product_title.product_title{
  font-size:1.7rem;
}
.product_tag-bundle-grid h4.product_title{
  font-size:1.7rem;
  height:56px;
  overflow:hidden;
}
.product_tag-bundle-grid .thumbnail_hidden h4.product_title{
  height:initial;
}
label.bundled_product_optional_checkbox{
  font-weight:normal;
  font-size:1.3rem;
}
.product-type-composite .component .component_options_inner{
  padding:0;
}
.product-type-composite #add_to_cart_box p.clear_component_options_wrapper{
  margin-top:-10px;
  text-align: right;
}
.product-type-composite a.clear_component_options{
  margin-bottom:0;
}
.product-type-composite div.component_title_wrapper{
  border-bottom:1px solid lightsteelblue;
}
.product-type-composite .component div.component_inner{
  padding-bottom:10px;
}
.product-type-composite div.component_inner h4.composited_product_title{
  border-bottom:1px solid lightsteelblue;
  padding-bottom:8px;
}
.product-type-composite div.bundled_product_summary,
.product-type-composite div.composited_product_details_wrapper{
  padding-left:0;
}
div.bundled_product_summary .bundled_product_images{
  margin-left:-95px;
}
.product-type-composite div.bundled_product_summary .bundled_product_images,
.product-type-composite div.composited_product_details_wrapper .composited_product_images,
.product-type-composite div.details.component_data{
  width:100%;
  margin-left:0;
}
.product-type-composite div.bundled_product_summary .bundled_product_images img,
.product-type-composite div.composited_product_details_wrapper .composited_product_images img{
  display:block;
  margin:0 auto;
}
div.bundled_product_summary .bundled_product_images a{
  margin-right:15px;
}
.product-type-composite div.composited_product_details_wrapper div.component_wrap{
  text-align:right;
}
.product-type-composite .composite_form .composite_navigation.paged > .page_button{
  width:100%;
  max-width:100%;
  font-size:1.5rem;
}
.product-type-composite .composite_form .composite_navigation.paged .prev{
  margin-left:10px;
}
.product-type-composite .composite_form .composite_navigation.paged .next{
  margin-right:10px;
}
div.composite_summary .summary_element_wrapper,
.product-type-composite .legacy_width .component div.component_option_thumbnail{
  box-shadow:none;
  border:1px solid white;
  margin:5px 0 0 0;
  padding:0;
}
div.composite_summary .summary_element_wrapper:hover,
.product-type-composite div.component_option_thumbnail:hover{
  box-shadow:none;
  border:1px solid lightsteelblue;
}
div.composite_summary .summary_element_wrapper.selected,
.product-type-composite div.component_option_thumbnail.selected{
  box-shadow:none;
  border:2px solid #705E77;
}
div.composite_summary .summary_element_wrapper_inner{
  padding:6px;
}
.product-type-composite .content_product_title strong{
  display:none;
}
.product_tag-bundle-grid div.bundle_price{
    clear: both;
}
/*-------------------ADD TO CART------------------*/
#add_to_cart_box {
  padding:25px;
  font-size:1em;
  border:4px double #705E77;
  clear:both;
}
#add_to_cart_box h1 {
	font-size:1.5em;
}
/*------------Price at Top------------*/
#add_to_cart_box p {
	margin:0 0 10px;
}
#add_to_cart_box .price{
  color:#705E77; /*Violet*/
  font-weight:bold;
  font-family:Trebuchet, serif;
  margin-top:0;
  font-size:20px;
}
.product-type-simple #add_to_cart_box p.price::before,
.product-type-variable #add_to_cart_box p.price::before{
	content: 'List Price: ';
  	display:block;
}
#add_to_cart_box .price ins{
  text-decoration: none;
  font-size:1.4em;
}
#add_to_cart_box .price del{
  color:#263D4A; /*Prussian*/
  font-weight:500;
}
/*------------Variation Drop Down------------*/
#add_to_cart_box table{
	width: 100%;
}
#add_to_cart_box table td.label{
	padding: 0;
    margin-right: 5px;
    font-size: 14px;
}
#add_to_cart_box table td.value select{
	width: 100%;
}
#add_to_cart_box a.reset_variations{
  display:block;
  text-align:right;
  padding-bottom:10px;
}
#add_to_cart_box .single_variation_wrap span.price::before{
	content:'Your Selection: ';
}
#add_to_cart_box .single_variation_wrap span.price {
    margin-top:10px;
}
#add_to_cart_box .single_variation_wrap span.price::after{
	content:' ea.';
}

/*------------Final Price------------*/
#add_to_cart_box .single_variation_wrap{
  position:relative;
}
#add_to_cart_box #tm-final-price-total{
  clear:both;
  border:none;
  padding:0;
  max-width:95px;
  min-width:55px;
  position:absolute;
  right:0;
  bottom:45px;
  text-align:right;
  text-transform:capitalize;
}
#add_to_cart_box dl.tm-final-price-totals dt{
  float:left;
  margin-right:10px;
  font-size:16px;
  padding-top:2px;
}
#add_to_cart_box dl.tm-final-price-totals dd{
  float:left;
}
#add_to_cart_box dl.tm-final-price-totals dd > span.amount.final{
  color:#705E77; /*Violet*/
  font-size:18px;
}
/*------------Quantity------------*/
#add_to_cart_box .quantity:before {
  content: 'How Many? ';
  font-weight: bold;
  font-size: 1em;
}
#add_to_cart_box .quantity{
  display:block;
  float:left;
  width:100%;
  min-width:160px;
  margin-top:10px;
  padding-right:110px;
}
#add_to_cart_box .quantity input.qty{
  width:100%;
}
.single_add_to_cart_button{
    margin-top: 15px;
}
/*-----Product Form Styling-----*/
#add_to_cart_box .gform_wrapper {
	max-width:100%;
    padding:0;
    margin:0;
    background-color:initial;
  	border:none;
}
/***Gravity Total***/
#add_to_cart_box .product_totals .gfield_label{
    text-align:center;
    width:100%;
	border-bottom:1px solid #705E77; /*Violet*/
}
#add_to_cart_box .product_totals .ginput_container{
    text-align:center;
}

/*****ITEM DESC*****/
.itemDesc{
	width:90%;
  	margin:0 auto;
}
.itemDesc h3{
	margin: .25em 0;
}
h3.pinterest{
	z-index: 1000;
	position: relative;
}
/*****PINTEREST*****/
.pinspire > span{
  margin-bottom:25px!important;
}
/*****CAROUSEL*****/
.owl-carousel .item-title{
  margin-top:2px;
  margin-bottom:10px;
  font-size:16px;
  border-top:1px solid lightsteelblue;
}
/*-------------------CART PAGE------------------*/
form > table.shop_table.cart.col-sm-8.col-md-9{
  width:65%;
}
div.cart-collaterals.col-sm-4.col-md-3{
  width:35%;
  min-width:298px;
}
table.shop_table tbody{
  border-bottom:solid 1px #263D4A; /*Prussian*/
}
table.shop_table thead{
  border-bottom:1px solid lightsteelblue;
}
table.shop_table th{
  padding-right:8px;
}
table.shop_table tr.cart_item{
  border-bottom:solid 1px #263D4A; /*Prussian*/
}
table.shop_table tr.cart_item td.product-remove{
  text-align:center;
  vertical-align:top;
}
table.shop_table tr.cart_item td.product-remove a.remove{
  padding:15px 5px;
  display:block;
}
table.shop_table tr.cart_item td.product-thumbnail{
  width:100px;
  vertical-align:top;
}
table.shop_table tr.cart_item td.product-name,
table.shop_table tr.cart_item td.product-total{
  vertical-align:top;
  padding:10px 5px;
}
table.shop_table tr.cart_item td.product-price,
table.shop_table tr.cart_item td.product-quantity,
table.shop_table tr.cart_item td.product-subtotal{
  text-align:right;
  vertical-align:top;
  padding:10px 5px;
}
table.shop_table tr.cart_item td.product-name a{
  font-weight:bold;
  font-size:larger;
}
table.shop_table tr.cart_item td.product-subtotal{
  font-weight:bold;
  background-color:#fafafa;
}
table.shop_table td.actions{
  padding:5px 0 0;
}
table.shop_table div.coupon,
table.shop_table input[name="update_cart"]{
  float:right;
}
table.shop_table input[name="update_cart"]{
  margin:5px 20px;
}
table.shop_table input.qty{
  max-width:60px;
}
div.cart-collaterals div.cart_totals{
    padding: 10px;
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
}
div.cart-collaterals h2{
  margin-top:0;
}
div.cart-collaterals table{
  width:100%;
}
ul#shipping_method{
  margin-left:0;
  padding:left;0;
  list-style:none;
}
ul#shipping_method > li > *{
  display:table;
  font-size:1.4rem;
}
div.cart-collaterals table tr{
  vertical-align:top;
}
div.cart-collaterals table tr th{
  padding-right:8px;
  max-width:100px;
}
div.cart-collaterals table tr td{
  padding-bottom:10px;
}
div.cart-collaterals table small{
  display:inline-block;
  line-height:1.1;
}
/*-------------------CHECKOUT PAGE------------------*/
#ship-to-different-address .checkbox,
.terms .checkbox{
  display:inline-block;
  margin:5px 0 0;
}
#payment{
  margin-top: 20px;
  border-top: 1px solid #263D4A; /*Prussian*/
  padding-top: 10px;
}
/*-------------------ACCOUNT PAGES------------------*/
table.my_account_orders{
  width:100%;
}
.col2-set .col-1, .col2-set .col-2{
  width:50%;
  float:left;
}
table tr.expanded-row td{
  padding-top:10px;
  padding-bottom:10px;
}
/*-------------------WOO MESSAGES------------------*/
div.woocommerce-message{
    margin: 30px 0;
    background-color:#705E77; /*Violet*/
    color: white;
    padding: 10px 10px 5px;
}


/*---------------PRODUCT ARCHIVE---------------*/
.shop-archive-item{
    padding:15px;
}
.shop .price,
.parent-pageid-75 .price,
.archive .price{
    color:#705E77; /*Violet*/
    font-weight: bold;
    margin-top: 0.4em;
    font-size: 1.1em;
    font-family: Trebuchet MS, Verdana, Helvetica, sans serif;
    letter-spacing: -.04em;
}
.shop .price ins,
.parent-pageid-75 .price ins,
.archive .price ins{
    text-decoration: none;
}
.shop .price del,
.parent-pageid-75 .price del,
.archive .price del{
    color:lightgray;
    font-weight:500;
}
.post-type-archive-product .main-content-area h2{
    text-align:center;
	margin:-.25em 0 .25em;
  	line-height: 1em;
}
/*--------------------------END PRODUCT PAGES--------------------------*/


/*---------------SOCIAL SHARING--------------*/
.shareaholic-share-buttons-container.wrapped{
    float:none!important;
    display: block;
    width: 100%;
}
body .shareaholic-share-buttons-container.wrapped ul.shareaholic-share-buttons{
    margin:0!important;
}
div.share p{
    margin:0;
    padding:0;
}
.share .shareaholic-canvas {
  float: left;
  clear: none;
}
.share .shareaholic-share-buttons-container.round li.shareaholic-share-button.has-shares span.share-button-counter{
    margin-top:3px!important;
}

/*--------------CALLS TO ACTION--------------*/
.CTAcontainer{
	position:relative;
  	margin:0;
	text-shadow: 3px 1px 0px white;
}
.CTATitle.pull-right{
	position:absolute;
	text-align:right;
    right: 2em;
  	margin-left: 2em;
}
.CTATitle.pull-left{
	position:absolute;
	text-align:left;
    left: 2em;
  	margin-right: 2em;
}
.CTATitle.bottom{
	bottom: 2em;
	top: initial;
	margin-bottom: -20px;
}
.CTATitle.col-5-title{
    width:45%;
}
.CTAcontainer img{
	border:1px solid lightgray;
  	width:100%;
    height:auto;
}
.CTATitle h1, .CTATitle h2, .CTATitle h3{
	line-height: 1;
	margin:20px 0px 8px;
	color:#705E77; /*Violet*/
}
.CTATitle h1{
	font-size: 5.5em;
}
.CTATitle h2{
	font-size: 4em;
}
.CTAcontainer a.button{
    width:initial;
	color:white;
}

/*----------------------------------------------------------------------------*/
/*----------------GRAVITY and CRED FORMS, FILTERS, PARAMETRICS----------------*/
/*----------------------------------------------------------------------------*/
/*------------General Form Styling------------*/
form.cred-user-form,
.gform_wrapper form {
	max-width:100%;
    background-color:rgba(239, 214, 210, 0.4); /*Blush*/
    padding:15px 30px;
}
.gform_wrapper form.form-inline{
    background-color:transparent; /*--reset bg on inline forms--*/
  padding:0;
}
.gform_wrapper form.form-inline ul{ /*--reset padding on inline forms--*/
    padding:0;
  margin:0;
}
.gform_wrapper form.form-inline li{ /*--reset margin on inline forms--*/
    margin:0;
  padding:0 15px 0 0;
}
.wpv-filter-form{
    padding:5px 0;
}
form hr{
  border-top:1px solid #705E77; /*Violet*/
}
/*------------Form Submit Button Styling------------*/
.gform_wrapper input.button{ /*Make button stand out*/
    border:1px solid #ACCB37; /*Apple Green*/
}
.gform_wrapper input.button:hover{ /*Make button stand out*/
    color:#EFD7D3; /*Blush*/
}
.gform_footer input[type="submit"]{
    margin-top:10px;
}
.gform_wrapper form.form-inline.three-parts .gform_footer{ /*--set sizing on inline forms--*/
  width:33.3333333%;
  display:inline-block;
}
.gform_wrapper form.form-inline input[type="submit"]{ /*--reset submit on inline forms--*/
    margin:0;
}
/*----------Transition Styling---------*/
form .wpt-conditional-visible{
  display:block!important;
}
form .wpt-conditional-visible > *{
  display:block;
}
/*----------Form Labels Styling---------*/
form .form-group{
  margin-bottom:12px;
}
form label{
  margin-bottom:1px;
}
.gform_wrapper form.form-inline label{ /*--hide input labels on inline forms--*/
    display:none;
}
form .wpt-form-label{
  white-space:normal;
  margin-bottom:1px;
}
.gform_wrapper h2{
    font-size: 24px;
    margin:15px 0 0;
}
/*--------------------------Form Fields Styling-------------------------*/
.gform_wrapper ul,
form ul,
ul.payment_methods{ /*No bullets*/
    list-style: none;
    padding:0;
}
.gform_wrapper .gfield_label{ /*Style Above Labels for all Inputs*/
    margin:10px 0 0;
}
.gform_validation_container{ /*Hide the honeypot spam field*/
    visibility:hidden;
    display:none;
}

/*----------Text Field Styling----------*/
body select{
  max-width:100%;
}
form input[type=text],
form input[type=email],
form input[type=tel],
form input[type=url],
form input[type=number],
form input[type=password],
form input[type=date], form input[type=date].form-control,
form .form-control{ /*--All Text Inputs at 100%--*/
  width:100%;
  border:1px solid lightsteelblue;
  padding:3px 8px;
  height:initial;
  line-height:initial;
}
form select{
  width:100%;
  border:1px solid lightsteelblue;
  padding:3px 8px;

}
form textarea,
form textarea.form-control{/*--textareas at initial height--*/
  width:100%;
  border:1px solid lightsteelblue;
  height:initial;
  padding:3px 8px;
}
.gform_wrapper .ginput_complex.no_last_name span{
    width:100%;
}
.gform_wrapper form.form-inline input[type=text],
.gform_wrapper form.form-inline input[type=email],
.gform_wrapper form.form-inline input[type=tel],
.gform_wrapper form.form-inline input[type=url],
.gform_wrapper form.form-inline input[type=number],
.gform_wrapper form.form-inline input[type=password],
.gform_wrapper form.form-inline input[type=date]{ /*--reset inputs on inline forms*/
  padding:6px;
}

/*----------Complex Text Field Styling----------*/
.gform_wrapper .ginput_complex.no_last_name label{ /*Remove Label on no last name*/
    display: none;
}
.gform_wrapper .ginput_complex span{ /*All 2-Part Text Inputs at 100%*/
    width: 49%;
    display: block;
    float: left;
    margin-right: 2%;
}
.gform_wrapper .ginput_complex span:last-of-type{
    margin-right:0;
}
.gform_wrapper .col-sm-6{ /*Bootstrap 2-Part Text Inputs at 100%*/
    width: 49%;
    margin-right: 2%;
    padding:0;
}
.gform_wrapper .col-sm-8{ /*Bootstrap 2-Part Text Inputs at 100%*/
    padding:0;
}
.gform_wrapper .last-in-col{
    margin-right:0;
}
.gform_wrapper .ginput_complex span:after{
    clear:both;
}
.gform_wrapper .ginput_complex label,
.gform_wrapper .instruction,
.cred-form .instruction{ /*Style Below Labels for Complex Inputs*/
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
}
/*----------Radio and Checkbox Field Styling----------*/
.gform_wrapper ul.gfield_checkbox{
  margin:0;
}
input[type=radio],
input[type=checkbox]{ /*Checkboxes in clean bootstrap forms*/
    width:initial;
    float:left;
}
.cred-field input[type=radio],
.cred-field input[type=checkbox]{ /*Checkboxes in cred forms extra margin*/
  	margin:0 10px 0 0;
}
form .wpt-form-checkbox-label{ /*All Checkbox Labels Styled*/
    display:inline;
}
.gform_wrapper .gfield_checkbox label{ /*All Checkbox Labels Styled*/
    margin-left:25px;
    display:block;
    font-weight: normal;
}
/*----------Upload Area----------*/
.gform_wrapper .gform_drop_area{
    border: 2px dashed white;
    padding: 30px;
    text-align: center;
}
.cred-form input[type=file]{
  margin:10px 0 6px;
}
.cred-form div.js-wpt-field-items.js-wpt-repetitive{
  margin-bottom:0;
}
.cred-form input[type="button"]{ /*This is for repeating fields and clear buttons, not submits*/
    width:initial;
}
/*----------Date Area----------*/
.ui-datepicker-trigger{
    display:none;
}
.cred-form input.js-wpt-date{
  width:200px!important;
  background-color:white;
}
div#ui-datepicker-div.ui-datepicker{
  font-family:Playfair;
}
div#ui-datepicker-div.ui-datepicker .ui-widget-header{
  border-radius:0;
  background:#705E77; /*Violet*/
  border:1px solid #263D4A; /*Prussian*/
}
div#ui-datepicker-div.ui-datepicker th{
  padding:6px 3px;
}
div#ui-datepicker-div.ui-datepicker td > a{
  color:#ACCB37; /*Apple Green*/
  background-color:#fefefe;
}
div#ui-datepicker-div.ui-datepicker td > a.ui-state-highlight.ui-state-active,
div#ui-datepicker-div.ui-datepicker td > a.ui-state-hover{
  border:1px solid #95B420; /*Dk Apple Green*/
  color:#263D4A; /*Prussian*/
  background:white;
}
/*-----Form Messages-----*/
form .wpt-form-success{
  color:white;
  background-color:#ACCB37; /*Apple Green*/
  border:none;
}

/*-----Sidebar Form Styling-----*/
.custom-sidebar .gform_wrapper { /*Less Spacing on Sidebar*/
    padding:10px;
    margin:0 0 5px;
	max-width:100%;
    border:none;
    background-color:white;
}
/*-------Parametric Filters-------*/
.filter-container {
    padding:0 12px;
  	margin-bottom:20px;
}
.filter-container h4{
  	margin-top:10px;
}
.filter-container hr{
	clear:both;
}
.filter-bootstrap{
    font-weight: bold;
    color:#705E77; /*Violet*/
}
.filter-bootstrap-label-lalign div{
  display:inline-block;
  float:left;
  margin-right:10px;
}
.filter-bootstrap input,
.filter-bootstrap select,
.filter-container select{
    width:100%;
    color:#263D4A; /*Prussian*/
}
.filter-bootstrap-label-lalign input,
.filter-bootstrap-label-lalign select{
  width:initial;
}
.filter-bootstrap select{
    margin:3px;
}
.filter-bootstrap input[type=submit]{
    margin:1em 0 0;
}
.wpv-filter-form ul.categorychecklist,
.wpv-filter-form ul.categorychecklist ul.children{ /*No bullets*/
    list-style:none;
    padding:0;
    font-size:13px;
}
.wpv-filter-form ul.categorychecklist ul.children{
    padding-left: 10px;
}
.wpv-filter-form ul.categorychecklist label{ /*Not bold*/
    font-weight:normal;
}
.shop form h4,
.parent-pageid-75 form h4{
	font-size:1em;
  	color:#705E77; /*Violet*/
    border-bottom:solid 1px #705E77; /*Violet*/
	padding-bottom:4px;
}




/*------------------------RESPONSIVE MEDIA QUERIES------------------------*/

/*---------------SMALL DESKTOP, TABLET AND MOBILE---------------*/
@media all and (max-width:1200px) {
  	.data-card-feat-img .row .feat-img{
	  display:flex;
	  vertical-align:initial;
	  float:initial;
	}
    .CTATitle h1{
      font-size:4.5em;
    }
    
}
/*---------------TABLET AND MOBILE---------------*/
@media all and (max-width:992px) {

    .data-card-feat-img .row .feat-img{
      display:flex;
      width:100%;
      height:200px;
  	}
    .data-card-feat-img h1,
    .data-card-feat-img h1 a{
      margin-top:15px;
  	}
  	#email-download-img{
	  width:250px;
	  margin-right:-200px;
      margin-top:0;
      margin-bottom:0;
	}
	#email-download-text{
	  margin-left:210px;
	  position:absolute;
	  top:0;
	}
	#email-download-text h4{
	  font-size:2rem;
	}
  	#email-download-text h2{
	  font-size:3rem;
	}
	#email-download-text h1{
	  font-size:3.5rem;
	}
	.CTATitle h1{
        font-size:3.5em;
    }
    form > table.shop_table.cart.col-sm-8.col-md-9{
		width:100%;
      	margin-bottom:20px;
	}
	div.cart-collaterals.col-sm-4.col-md-3{
		width:100%;
}

    
}
/*---------------MOBILE ONLY---------------*/
@media all and (max-width:768px) {
	
    /*---------HEADER---------*/
    #header-img{
        margin-bottom:0;
    }
    #main-nav{
        position: relative;
    }
    #main-nav .custom-search{
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-content{
        padding:10px;
    }
    /*-------HELPER-------*/
    .data-card{
    	border:7px double #705E77; /*Violet*/
    }
    .data-card .row{
        margin-left:0;
        margin-right:0;
    }
    body .table {
        height:initial;
    }
    /*-------GRAVITY FORMS-------*/
    div.gform_wrapper {
        max-width:100%;
        margin:0;
    }
    div.gform_wrapper .col-sm-12.field_sublabel_below span > input{
        width:100%;
    }
    div.gform_wrapper .col-sm-12.field_sublabel_below span:first-of-type > input{
        margin-right:0;
    }
    /*-------Email signup-------*/
    #email-download-img{
      display:block;
	  width:90%
      min-width:2500px;
      max-width:100%;
	  margin:0 auto;
	}
	#email-download-text{
	  margin:15px 0;
	  position:initial;
	}
	#email-download-text h4{
	  font-size:1.8rem;
	}
	#email-download-text h2{
	  font-size:2.5rem;
	}
	#email-download-text h1{
	  font-size:3rem;
	}
    /*-------Inline forms reset to stacked forms-------*/
	.gform_wrapper form.form-inline li{ /*--reset margin on inline forms--*/
		margin:0 0 10px 0;
		padding:0;
    }
    .gform_wrapper form.form-inline.three-parts .gform_footer{ /*--reset sizing on inline forms--*/
      width:100%;
      display:initial;
	}
    /*-------CTAs-------*/
    .CTAcontainer{
       	position:initial;
	}
	.CTATitle.pull-left,
  	.CTATitle.pull-right,
    .CTATitle.col-5-title{
        position:initial;
		text-align:center;
        float: none !important;
        width:100%;
        top: 13em;
        margin:30px 0 8px;
    }
  	.CTATitle h2{
        font-size:2em;
    }
    .CTAcontainer a.button{
        margin-bottom:10px;
        width:100%;
    }

}